#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
*.lock.hcl

ansible.cfg
inventory
playbook-openvpn.yml
generated_key_rsa
client-config
